<section>
  <h1 align="center">Top Collègues</h1>
</section>

<section *ngIf="isLoggedIn">
  <p class="text-right">{{isLoggedIn}}<a (click)="deconnexion()" routerLink=''>Logout</a></p>
<nav aria-label="Navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" routerLink='/vote' (click)="voteActive()" aria-checked=""
      name="buttonVotes"> Votes</a></li>
    <li class="page-item"><a class="page-link" routerLink='/classement' (click)="classementActive()"
      name="buttonClassement"> Classement</a></li>


<nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;" *ngIf="isLoggedIn">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    Bienvenue {{userPrenoms}} {{userNom | uppercase}}
  </div>
  <div class="mx-auto order-0">
    <a class="page-link" routerLink='/vote' routerLinkActive="active-link" aria-checked="" name="buttonVotes"> Votes</a>
    <a class="page-link" routerLink='/classement' routerLinkActive="active-link" name="buttonClassement">
      Classement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="deconnexion()" routerLink=''>Logout</a>
      </li>
    </ul>
  </div>
</nav>
