<h2>Vote</h2>

<section class="container-fluid">
  <div class="row mt-3">

    <div *ngFor="let user of userList">



      <div class="col mt-3">
        <div class="card shadow-sm">
          <div class="card-header">
            <img src="{{user.photoUrl}}" alt="" class="center">
          </div>
          <div class="card-body text-dark">
            <div class="row mt">

              <div class="col-4">
                  <ng-container *ngIf="">
                      <td><button type="button"class="btn btn-success">+</button></td>
                      <p> <a href="#" class="btn btn-success"(click)="votePlus()"> ++ </a></p>
                  </ng-container>

              </div>
              <div class="col-4">
                  <td> </td>
                </div>
              <div class="col-4">
                  <ng-container *ngIf="">
                      <td><button type="button"class="btn btn-warning" (click)="voteMoins()">--</button></td>
                  </ng-container>

                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
