<div class="row align-items-center mb-3" *ngFor="let unElu of elus">

  <div class="col-4 ">
    <div class="row justify-content-end ">
      <h2>{{unElu.score}}</h2>
    </div>
  </div>
  <div class="col-4 ">
    <div class="row justify-content-center">
      <img [src]="unElu.photo" class="img-fluid" width="300">
    </div>
  </div>
  <div class="col-4">
    <div class="row justify-content-start">
        <strong>{{unElu.prenom}} {{unElu.nom | uppercase}}</strong>
      <br> <br> <br>
    </div>
  </div>

</div>
