

h1
{
font-family: Arial, serif;
font-weight: bold;
font-size: 4em;
text-align: center;
}


img{

  height: auto;
  display: block;
 margin-left: auto;
 margin-right: auto;

  }

  /* p.flotte {
    float:left;
    } */
